In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from IPython import display
%matplotlib inline
from tkinter.filedialog import askopenfilename

In [7]:
#Allows user to browse for the data file
corona = askopenfilename()

In [8]:
dfcorona= pd.read_csv(corona)

In [9]:
dfcorona.shape

(4935, 8)

In [10]:
dfcorona.head()

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1,0,0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14,0,0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6,0,0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1,0,0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0,0,0

In [13]:
dfcorona.columns

Index(['SNo', 'ObservationDate', 'Province/State', 'Country/Region',
       'Last Update', 'Confirmed', 'Deaths', 'Recovered'],
      dtype='object')

In [15]:
dfcorona['Country/Region'].value_counts()

Mainland China      1548
US                  1003
Australia            225
Canada               146
Thailand              50
                    ...
Turkey                 1
Bolivia                1
 Azerbaijan            1
Channel Islands        1
Congo (Kinshasa)       1
Name: Country/Region, Length: 128, dtype: int64

In [22]:
dfcorona[dfcorona['Country/Region']=='Mainland China']

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1,0,0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14,0,0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6,0,0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1,0,0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0,0,0
...,...,...,...,...,...,...,...,...
4819,4820,03/11/20,Qinghai,Mainland China,2020-03-11T02:18:14,18,0,18
4834,4835,03/11/20,Macau,Mainland China,2020-03-11T18:52:03,10,0,10
4902,4903,03/11/20,Tibet,Mainland China,2020-03-11T02:18:14,1,0,1
4925,4926,03/11/20,Gansu,Mainland China,2020-03-11T02:18:28,0,0,0
4926,4927,03/11/20,Hebei,Mainland China,2020-03-11T02:18:29,0,0,0

In [23]:
dfcorona[dfcorona['Country/Region']=='Mainland China']['Province/State'].value_counts()

Hebei             51
Gansu             51
Hubei             50
Chongqing         50
Hainan            50
Ningxia           50
Tianjin           50
Liaoning          50
Shandong          50
Guangxi           50
Jiangsu           50
Shaanxi           50
Inner Mongolia    50
Beijing           50
Yunnan            50
Henan             50
Sichuan           50
Qinghai           50
Zhejiang          50
Xinjiang          50
Heilongjiang      50
Jiangxi           50
Guizhou           50
Fujian            50
Jilin             50
Shanxi            50
Anhui             50
Shanghai          50
Hunan             50
Guangdong         50
Tibet             44
Macau              1
Hong Kong          1
Name: Province/State, dtype: int64

In [24]:
dfchina=dfcorona[dfcorona['Country/Region']== 'Mainland China']

In [25]:
dfchina.describe()

               SNo     Confirmed       Deaths    Recovered
count  1548.000000   1548.000000  1548.000000   1548.00000
mean   1760.937984   1650.171189    52.077519    620.98385
std    1293.347096   8734.999208   339.123789   3856.77701
min       1.000000      0.000000     0.000000      0.00000
25%     648.750000     70.000000     0.000000      3.00000
50%    1570.500000    168.000000     1.000000     59.00000
75%    2610.250000    505.750000     3.000000    226.00000
max    4927.000000  67773.000000  3046.000000  49134.00000

In [32]:
df=dfchina[['ObservationDate','Confirmed','Deaths','Recovered']].groupby('ObservationDate').sum()

In [46]:
df['new_confirmed'] = df.Confirmed.diff()

In [47]:
df['new_deaths'] = df.Deaths.diff()

In [48]:
df['new_recovered'] = df.Recovered.diff()

In [49]:
df

,Confirmed,Deaths,Recovered,new_confirmed,new_deaths,new_recovered
ObservationDate,,,,,,
01/22/2020,547,17,28,NaN,NaN,NaN
01/23/2020,639,18,30,92.0,1.0,2.0
01/24/2020,916,26,36,277.0,8.0,6.0
01/25/2020,1399,42,39,483.0,16.0,3.0
01/26/2020,2062,56,49,663.0,14.0,10.0
01/27/2020,2863,82,58,801.0,26.0,9.0
01/28/2020,5494,131,101,2631.0,49.0,43.0
01/29/2020,6070,133,120,576.0,2.0,19.0
01/30/2020,8124,171,135,2054.0,38.0,15.0
01/31/2020,9783,213,214,1659.0,42.0,79.0
02/01/20,11871,259,275,2088.0,46.0,61.0
02/02/20,16607,361,463,4736.0,102.0,188.0
02/03/20,19693,425,614,3086.0,64.0,151.0
02/04/20,23680,490,843,3987.0,65.0,229.0
02/05/20,27409,562,1115,3729.0,72.0,272.0
02/06/20,30553,632,1476,3144.0,70.0,361.0
02/07/20,34075,717,1998,3522.0,85.0,522.0
02/08/20,36778,804,2595,2703.0,87.0,597.0
02/09/20,39790,904,3218,3012.0,100.0,623.0
02/10/20,42306,1011,3917,2516.0,107.0,699.0
02/11/20,44327,1111,4635,2021.0,100.0,718.0
02/12/20,44699,1116,5079,372.0,5.0,444.0
02/13/2020,59832,1368,6213,15133.0,252.0,1134.0
02/14/2020,66292,1520,7973,6460.0,152.0,1760.0
02/15/2020,68347,1662,9294,2055.0,142.0,1321.0
02/16/2020,70446,1765,10748,2099.0,103.0,1454.0
02/17/2020,72364,1863,12455,1918.0,98.0,1707.0
02/18/2020,74139,2002,14199,1775.0,139.0,1744.0
02/19/2020,74546,2114,15952,407.0,112.0,1753.0
02/20/2020,74999,2236,18002,453.0,122.0,2050.0
02/21/2020,75472,2236,18693,473.0,0.0,691.0
02/22/2020,76922,2441,22687,1450.0,205.0,3994.0
02/23/2020,76938,2443,23170,16.0,2.0,483.0
02/24/2020,77152,2593,24990,214.0,150.0,1820.0
02/25/2020,77660,2663,27650,508.0,70.0,2660.0
02/26/2020,78065,2715,30053,405.0,52.0,2403.0
02/27/2020,78498,2744,32898,433.0,29.0,2845.0
02/28/2020,78824,2788,36291,326.0,44.0,3393.0
02/29/2020,79251,2835,39279,427.0,47.0,2988.0
03/01/20,79826,2870,42118,575.0,35.0,2839.0
03/02/20,80026,2912,44810,200.0,42.0,2692.0
03/03/20,80151,2945,47404,125.0,33.0,2594.0
03/04/20,80271,2981,49955,120.0,36.0,2551.0
03/05/20,80422,3013,52240,151.0,32.0,2285.0
03/06/20,80573,3042,53888,151.0,29.0,1648.0
03/07/20,80652,3070,55478,79.0,28.0,1590.0
03/08/20,80699,3097,57320,47.0,27.0,1842.0
03/09/20,80735,3120,58735,36.0,23.0,1415.0
03/10/20,80757,3136,60106,22.0,16.0,1371.0
03/11/20,80921,3161,61644,164.0,25.0,1538.0