In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from IPython import display
%matplotlib inline
from tkinter.filedialog import askopenfilename

In [7]:
#Allows user to browse for the data file
corona = askopenfilename()

In [8]:
dfcorona= pd.read_csv(corona)

In [9]:
dfcorona.shape

(4935, 8)

In [10]:
dfcorona.head()

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1,0,0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14,0,0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6,0,0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1,0,0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0,0,0

In [13]:
dfcorona.columns

Index(['SNo', 'ObservationDate', 'Province/State', 'Country/Region',
       'Last Update', 'Confirmed', 'Deaths', 'Recovered'],
      dtype='object')

In [15]:
dfcorona['Country/Region'].value_counts()

Mainland China      1548
US                  1003
Australia            225
Canada               146
Thailand              50
                    ...
Turkey                 1
Bolivia                1
 Azerbaijan            1
Channel Islands        1
Congo (Kinshasa)       1
Name: Country/Region, Length: 128, dtype: int64

In [22]:
dfcorona[dfcorona['Country/Region']=='Mainland China']

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1,0,0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14,0,0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6,0,0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1,0,0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0,0,0
...,...,...,...,...,...,...,...,...
4819,4820,03/11/20,Qinghai,Mainland China,2020-03-11T02:18:14,18,0,18
4834,4835,03/11/20,Macau,Mainland China,2020-03-11T18:52:03,10,0,10
4902,4903,03/11/20,Tibet,Mainland China,2020-03-11T02:18:14,1,0,1
4925,4926,03/11/20,Gansu,Mainland China,2020-03-11T02:18:28,0,0,0
4926,4927,03/11/20,Hebei,Mainland China,2020-03-11T02:18:29,0,0,0

In [23]:
dfcorona[dfcorona['Country/Region']=='Mainland China']['Province/State'].value_counts()

Hebei             51
Gansu             51
Hubei             50
Chongqing         50
Hainan            50
Ningxia           50
Tianjin           50
Liaoning          50
Shandong          50
Guangxi           50
Jiangsu           50
Shaanxi           50
Inner Mongolia    50
Beijing           50
Yunnan            50
Henan             50
Sichuan           50
Qinghai           50
Zhejiang          50
Xinjiang          50
Heilongjiang      50
Jiangxi           50
Guizhou           50
Fujian            50
Jilin             50
Shanxi            50
Anhui             50
Shanghai          50
Hunan             50
Guangdong         50
Tibet             44
Macau              1
Hong Kong          1
Name: Province/State, dtype: int64

In [ ]:
dfchina=dfcorona['Country/Region']==